body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.dark {
    background-color: #232326;
    color: #F3F2F0;
}

.dark .link-list__link {
    color: #F3F2F0;
}

.dark .svg-circle circle {
    fill: #D40000;
}

.dark .svg-triangle path {
    fill: #FFFFFF;
}

.dark .steps__list-item,
.dark .social {
    border-bottom: 1px solid #F3F2F0;
}

.dark .steps__list-item:first-child {
    border-top: 1px solid #F3F2F0;
}

.light {
    background-color: #E5E5E5;
    color: #010101;
}

.light .link-list__link {
    color: #010101;
}

.light .svg-circle circle {
    fill: #FFFFFF;
}

.light .svg-triangle path {
    fill: #D40000;
} 

.light .steps__list-item,
.dark .social {
    border-bottom: 1px solid #F3F2F0;
}

.light .steps__list-item:first-child {
    border-top: 1px solid #F3F2F0;
}

.h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
    padding-bottom: 60px;
}

.link-list {
    padding-left: 0;
    margin: 0;
    list-style: none;

    display: flex;
}

.link-list__item {
    padding-left: 16px; 
    padding-right: 16px;
}

.link-list__item:first-child {
    padding-left: 0;
}

.link-list__item:last-child {
    padding-right: 0;
}

.link-list__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}

.link-list__link:hover {
    color: #D40000;
}

.link-list--line .link-list__item {
    position: relative;
    display: flex;
    align-items: center;
}

.link-list--line .link-list__item:not(:last-child)::after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(243, 242, 240, .5); 
    position: absolute;
    right: 0;
    top: 0;
}

.container__image {
    width: 100%;
    margin-bottom: 120px;
}

.container__main-title {
    margin-bottom: 100px;
    position: relative;
}
 
.container__main-title-name {
    margin: 0;
    margin-bottom: 30px;
    font-size: 28px; 
    position: relative;
    z-index: 3;
}

.container__main-title-position {
    margin: 0;
    font-size: 74px;
    text-transform: uppercase;
    position: relative;
    z-index: 4;
}

.container__social {
    margin-bottom: 60px;
}

.social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.social__title {
    padding-right: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    position: relative;
}

.social__title::before {
    content: "";
    display: block;
    width: 16px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    position: absolute;
    right: 0;
    top: calc(50% - 6px);   
}

.social__wrapper {
    position: relative;
}

.container__skill {
    margin-bottom: 180px;
}

.skill__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.skill__list-item {
    flex: 0 0 21%;
}

.skill__list-title {
    margin: 0;
    text-transform: uppercase;
}

.skill__list-description {
    margin: 0;
    line-height: 150%;
}

.container__cv {
    margin-bottom: 180px;
}

.steps__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.steps__list-item {
    display: flex;
   justify-content: space-between;
   position: relative;
   padding: 30px 10px 30px 70px;
}

.steps__list-item::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 21px);
    left: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}

.steps__list-item:nth-child(1)::before {
    content: '01';
}

.steps__list-item:nth-child(2)::before {
    content: '02';
}

.steps__list-item:nth-child(3)::before {
    content: '03';
}

.steps__list-title {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}

.steps__list-text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.svg-circle-main-title {
    width: 253px;
    height: 253px;
    position: absolute; 
    top: calc(50% - 126px);
    left: -128px;
    z-index: 1;
}

.svg-circle-social {
    width: 106px;
    height: 106px;
    position: absolute;
    right: 38px;
    top: calc(50% - 53px);
}

.svg-triangle {
    position:absolute;
    top: 0;
    left: -151px;
    z-index: 2;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }