body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.dark {
    background-color: #232326;
    color: #F3F2F0;
}

.dark .link-list__link {
    color: #F3F2F0;
}

.light {
    background-color: #E5E5E5;
    color: #010101;
}

.light .link-list__link {
    color: #010101;
}

.h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
    padding-bottom: 60px;
}

.link-list {
    padding-left: 0;
    margin: 0;
    list-style: none;

    display: flex;
}

.link-list__item {
    padding-left: 16px; 
    padding-right: 16px;
}

.link-list__item:first-child {
    padding-left: 0;
}

.link-list__item:last-child {
    padding-right: 0;
}

.link-list__link {
    text-decoration: none;
    font-size: 14px;
}

.link-list__link:hover {
    color: #D40000;
}

.container__image {
    width: 100%;
    margin-bottom: 120px;

}

.container__main-title {
    margin-bottom: 100px;
}

.container__main-title-name {
    margin: 0;
    font-size: 28px;
}

.container__main-title-position {
    margin: 0;
    font-size: 74px;
    text-transform: uppercase;
}

.social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.social__title {
    padding-right: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    position: relative;
}

.social__title::before {
    content: "";
    display: block;
    width: 16px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    position: absolute;
    right: 0;
    top: calc(50% - 6px);   
}

.skill__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.skill__list-item {
    flex: 0 0 24%;
}

.skill__list-title {
    text-transform: uppercase;
}

.skill__list-description {
    line-height: 150%;
}