body {
    font-family: 'Inter', sans-serif;
}

.dark {
    background-color: #232326;
    color: #F3F2F0;
}

.dark .header__list-item-link {
    color: #F3F2F0;
}

.light {
    background-color: #E5E5E5;
    color: #010101;
}

.light .header__list-item-link {
    color: #010101;
}

.wrapper {
    max-width: 1140px;
    margin: auto 0;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
    padding-bottom: 60px;
}

.header__list {
    padding-left: 0;
    margin: 0;
    list-style: none;

    display: flex;
}

.header__list-item {
    padding-left: 16px; 
    padding-right: 16px;
}

.header__list-item:first-child {
    padding-left: 0;
}

.header__list-item:last-child {
    padding-right: 0;
}

.header__list-item-link {
    text-decoration: none;
    font-size: 14px;
}

.header__list-item-link:hover {
    color: #D40000;
}

.container__image {
    width: 100%;
    margin-bottom: 120px;

}

.container__main-title-name {
    font-size: 28px;
}

.container__main-title-position {
    font-size: 74px;
    text-transform: uppercase;
}